{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.roles) }}

        <div class="col- col-md mt-5">
            <input class="btn btn-success" type="submit" name="submit" value="Enregistrer">
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
