<section {{ attributes.defaults({class: 'container mt-5', 'aria-hidden': 'true'}) }}>
    <img src="{{ asset('img/todolist_homepage.jpg') }}" alt="Image de couverture"
         class="img-fluid mb-3 {{ crop ? 'crop-header-image' }}" width="{{ width }}" height="{{ height }}">
</section>
